.container {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
}

.result {
  margin-top: 10px;
  background: #f0f0f0;
  padding: 10px;
}

.step-block {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.controls {
  margin-top: 20px;
}

button {
  margin-top: 10px;
  margin-right: 5px;
}
